{% load django_vite %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SACRO Outputs Viewer</title>

    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/main.js" %}
  </head>

  <body class="grid h-screen overflow-hidden bg-zinc-100">
    {% header title="SACRO Outputs Viewer" %}

    <aside class="overflow-y-scroll bg-white border-r border-zinc-200 py-2">
      {% files_list files=files %}
    </aside>

    <main class="container overflow-y-scroll">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
