{% load django_vite %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SACRO Outputs Viewer</title>

    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/main.js" %}
  </head>

  <body class="flex flex-col min-h-screen bg-zinc-50">
    {% header title="SACRO Outputs Viewer" %}

    <main class="grid flex-auto lg:gap-x-8 lg:grid-cols-3">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
