{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SACRO Outputs Viewer</title>

    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/main.js" %}
  </head>

  <body class="grid h-screen overflow-hidden bg-zinc-100">
    <header class="header">
      <div class="flex gap-x-4 items-center">
        <img
          alt="SACRO logo"
          class="block h-8 w-auto"
          src="{% static "sacro.svg" %}"
        >
        <span class="text-xl font-extrabold text-zinc-800 tracking-tight leading-none">
          SACRO outputs viewer
        </span>
      </div>
      {% #button disabled=True id="openModalBtn" type="submit" %}
        Release and download
      {% /button %}
    </header>

    <aside class="overflow-y-auto bg-white border-r border-zinc-200 py-2">
      <h2 id="fileListHeader" class="sr-only">File list</h2>
      <ul class="text-sm h-full flex flex-col gap-y-0.5" aria-label="List of files" id="filesList" data-cy="filesList">
        {% for file in files %}
        <li
          aria-label="File: {{ file.name }}"
          class="
            relative group py-0.5 px-1 hover:bg-slate-50
            {% if file.status == "fail" %}
            text-red-800
            {% elif file.status == "pass" %}
            text-blue-800
            {% elif file.status == "review" %}
            text-fuchsia-900
            {% endif %}

            data-[review-status=true]:bg-green-100/50
            data-[review-status=false]:bg-red-100/50
          "

          data-file-name="{{ file.name }}"
          data-review-status="none"
        >
          <dl class="flex flex-row gap-x-2 items-center" aria-label="File information">
            <div class="order-2">
              <dt class="sr-only">File name:</dt>
              <dd>
                <a
                  href="#{{ file.url }}"
                  class="
                    before:absolute before:inset-0 before:w-full before:h-full
                  "
                >
                  <span class="relative">
                    {{ file.name }}
                  </span>
                </a>
              </dd>
            </div>
            <div class="order-1">
              <dt class="sr-only">ACRO status:</dt>
              <dd>
                <span class="sr-only">{{ file.status }}</span>
                {% if file.status == "fail" %}
                {% icon_file_x class="h-5 w-5 stroke-red-700" %}
                {% elif file.status == "pass" %}
                {% icon_file class="h-5 w-5 stroke-blue-700" %}
                {% elif file.status == "review" %}
                {% icon_file_unknown class="h-5 w-5 stroke-fuchsia-700" %}
                {% endif %}
              </dd>
            </div>
            <div class="order-3 ml-auto">
              <dt class="sr-only">File type:</dt>
              <dd>{{ file.type }}</dd>
            </div>
            <div class="order-4">
              <dt class="sr-only">Review status:</dt>
              <dd>
                <span class="hidden group-data-[review-status=none]:block">
                  <span class="sr-only">Not yet reviewed</span>
                  <svg class="h-5 w-5"></svg>
                </span>
                <span class="hidden group-data-[review-status=true]:block">
                  <span class="sr-only">Approved</span>
                  {% icon_check class="h-5 w-5 text-green-600" %}
                </span>
                <span class="hidden group-data-[review-status=false]:block">
                  <span class="sr-only">Rejected</span>
                  {% icon_x_mark class="h-5 w-5 text-red-600" %}
                </span>
              </dd>
            </div>
          </dl>
        </li>
        {% endfor %}
      </ul>
    </aside>

    <main class="container overflow-y-scroll">
      {{ outputs|json_script:"filesData" }}

      <div class="grid gap-y-4">
        <div class="overflow-hidden bg-white shadow">
          <div class="p-4">
            <h1 class="text-xl font-semibold leading-7 text-gray-900" data-sacro-el="fileTitle">
              Select a file
            </h1>
          </div>
          <div class="border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
                <dt class="text-sm font-medium text-gray-900">Created at</dt>
                <dd class="text-sm leading-6 text-gray-700 col-span-3" data-sacro-el="fileCreatedDate"></dd>
              </div>
              <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
                <dt class="text-sm font-medium text-gray-900">File type</dt>
                <dd class="text-sm leading-6 text-gray-700 col-span-3" data-sacro-el="fileType"></dd>
              </div>
              <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
                <dt class="text-sm font-medium text-gray-900">ACRO status</dt>
                <dd class="text-sm leading-6 text-gray-700 col-span-3">
                  <span data-sacro-el="fileDetailsStatus"></span>
                  <span data-sacro-el="fileDetailsSummary"></span>
                </dd>
              </div>
              <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
                <dt class="text-sm font-medium text-gray-900">Comments</dt>
                <dd class="text-sm leading-6 text-gray-700 col-span-3">
                  <ul data-sacro-el="fileDetailsComments" class="list-disc ml-4">
                  </ul>
                </dd>
              </div>
              <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
                <dt class="text-sm font-medium text-gray-900">Review</dt>
                <dd class="text-sm leading-6 text-gray-700 col-span-3">
                  <span data-sacro-el="fileDetailsReviewForm" id="fileMetadata"></span>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        {% #card title="Select a file" container=True container_id="fileContent" class="hidden" %}
        {% /card %}
      </div>

    </main>

    {% #modal id="submitModal" title="Release and download" subtitle='<span class="count"></span> files are ready to be released' %}
      <p>Record your assessment of the whole release request below.</p>
      <p>
        For example, if there are disclosivity concerns that span multiple
        outputs, or if significant changes are needed to the whole study before
        it can be released.
      </p>

      <div class="">
        <textarea name="comment"
          class="
            my-1 block w-full rounded-md border-slate-300 text-slate-900 shadow-sm resize-none
            sm:text-sm
            focus:border-oxford-500 focus:ring-oxford-500
            invalid:border-bn-ribbon-600 invalid:ring-bn-ribbon-600 invalid:ring-1
          "
          id="id_comment"
          type="text"
        ></textarea>
      </div>

      <p>Click the button below to download a zip file of the files you have approved.</p>

      <form action="{{ review_url }}" method="post" id="approveForm">
        {% csrf_token %}
        {% #button type="submit" disabled=True %}
          Submit
        {% /button %}
      </form>

    {% /modal %}

  </body>
</html>
