{% extends "base.html" %}

{% load django_vite %}
{% load static %}

{% block extra_head %}
{% vite_asset "assets/src/scripts/index.js" %}
{% endblock %}

{% block content %}
<body class="grid h-screen overflow-hidden bg-zinc-100">
  {% #header %}
    {% #button disabled=True id="openModalBtn" type="submit" %}
      Release and download
    {% /button %}
  {% /header %}

  <aside class="overflow-y-auto bg-white border-r border-zinc-200 py-2">
    <h2 id="outputListHeader" class="sr-only">Output list</h2>
    <ul class="text-sm h-full flex flex-col gap-y-0.5" aria-label="List of outputs" id="outputList" data-sacro-el="outputList">
      {% for name, output in outputs.items%}
      <li
        aria-label="Output: {{ name }}"
        class="
          relative group py-0.5 px-1 hover:bg-slate-50
          {% if output.status == "fail" %}
          text-red-800
          {% elif output.status == "pass" %}
          text-blue-800
          {% elif output.status == "review" %}
          text-fuchsia-900
          {% endif %}

          data-[review-status=true]:bg-green-100/50
          data-[review-status=false]:bg-red-100/50
        "

        data-output-name="{{ name }}"
        data-review-status="none"
      >
        <dl class="flex flex-row gap-x-2 items-center" aria-label="Output information">
          <div class="order-2">
            <dt class="sr-only">Output name:</dt>
            <dd>
              <a class="before:absolute before:inset-0 before:w-full before:h-full">
                <span class="relative">
                  {{ name }}
                </span>
              </a>
            </dd>
          </div>
          <div class="order-1">
            <dt class="sr-only">ACRO status:</dt>
            <dd>
              <span class="sr-only">{{ output.status }}</span>
              {% if output.status == "fail" %}
              {% icon_file_x class="h-5 w-5 stroke-red-700" %}
              {% elif output.status == "pass" %}
              {% icon_file class="h-5 w-5 stroke-blue-700" %}
              {% elif output.status == "review" %}
              {% icon_file_unknown class="h-5 w-5 stroke-fuchsia-700" %}
              {% endif %}
            </dd>
          </div>
          <div class="order-3 ml-auto text-right">
            <dt class="sr-only">Output type:</dt>
            <dd>{{ output.properties.method|default_if_none:"" }} {{ output.type }}</dd>
          </div>
          <div class="order-4">
            <dt class="sr-only">Review status:</dt>
            <dd>
              <span class="hidden group-data-[review-status=none]:block">
                <span class="sr-only">Not yet reviewed</span>
                <svg class="h-5 w-5"></svg>
              </span>
              <span class="hidden group-data-[review-status=true]:block">
                <span class="sr-only">Approved</span>
                {% icon_check class="h-5 w-5 text-green-600" %}
              </span>
              <span class="hidden group-data-[review-status=false]:block">
                <span class="sr-only">Rejected</span>
                {% icon_x_mark class="h-5 w-5 text-red-600" %}
              </span>
            </dd>
          </div>
        </dl>
      </li>
      {% endfor %}
    </ul>
  </aside>

  <main class="container overflow-y-scroll">
    {{ outputs|json_script:"outputData" }}

    <div class="grid gap-y-4">
      <div class="overflow-hidden bg-white shadow">
        <div class="p-4">
          <h1 class="text-xl font-semibold leading-7 text-gray-900" data-sacro-el="outputTitle">
            Select an output
          </h1>
        </div>
        <div class="border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
              <dt class="text-sm font-medium text-gray-900">Created at</dt>
              <dd class="text-sm leading-6 text-gray-700 col-span-3" data-sacro-el="outputCreatedDate"></dd>
            </div>
            <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
              <dt class="text-sm font-medium text-gray-900">Output type</dt>
              <dd class="text-sm leading-6 text-gray-700 col-span-3" data-sacro-el="outputType"></dd>
            </div>
            <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
              <dt class="text-sm font-medium text-gray-900">ACRO status</dt>
              <dd class="text-sm leading-6 text-gray-700 col-span-3">
                <span data-sacro-el="outputDetailsStatus"></span>
                <span data-sacro-el="outputDetailsSummary"></span>
              </dd>
            </div>
            <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
              <dt class="text-sm font-medium text-gray-900">Comments</dt>
              <dd class="text-sm leading-6 text-gray-700 col-span-3">
                <ul data-sacro-el="outputDetailsComments" class="list-disc ml-4">
                </ul>
              </dd>
            </div>
            <div class="px-4 py-2 grid grid-cols-4 gap-4 hidden" hidden>
              <dt class="text-sm font-medium text-gray-900">Review</dt>
              <dd class="text-sm leading-6 text-gray-700 col-span-3">
                <span data-sacro-el="outputDetailsReviewForm" id="outputMetadata"></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      {% #card title="Select an output" container=True container_id="fileContent" class="hidden" %}
      {% /card %}
    </div>
  </main>

  {% #modal id="submitModal" title="Release and download" subtitle='<span class="count"></span> files are ready to be released' %}
    <form action="{{ create_url }}" method="post" id="approveForm" class="flex flex-col gap-3">
      {% csrf_token %}

      <p>Record your assessment of the whole release request below.</p>
      <p>
        For example, if there are disclosivity concerns that span multiple
        outputs, or if significant changes are needed to the whole study before
        it can be released.
      </p>

      <textarea name="comment"
        class="
          my-1 block w-full rounded-md border-slate-300 text-slate-900 shadow-sm resize-none
          sm:text-sm
          focus:border-oxford-500 focus:ring-oxford-500
          invalid:border-bn-ribbon-600 invalid:ring-bn-ribbon-600 invalid:ring-1
        "
        id="id_comment"
        data-sacro-el="submissionComment"
        type="text"
      ></textarea>

      <p>Click the button below to download a zip file of the files you have approved.</p>

      <div>
        {% #button type="submit" disabled=True %}
          Submit
        {% /button %}
      </div>
    </form>

  {% /modal %}
</body>
{% endblock content %}
