.venv/
.wenv/
.ipynb*
.pytest-cache/
.coverage
__pycache__
.*.sw*
/build
sacro-app/dist
node_modules/
assets/dist
sacro/staticfiles/
.env
*.sqlite3
data/*.arff
outputs/*

# Cypress
cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*
