@tailwind base;
@tailwind components;
@tailwind utilities;

body > header {
  grid-column: 1 / -1;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}
