@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: minmax(15rem, 25rem) repeat(2, 1fr);
}

body > header {
  grid-column: 1 / -1;
}

body > nav {
  grid-column: 1 / -1;
}

body > aside {
  grid-column: 1;
}

body > main {
  grid-column: 2 / -1;
  padding-block: 0.5rem;
}
