@import url("./_modern-normalize.css");
@import url("./_modern-base.css");

:root {
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --blue-600: rgb(37 99 235);
  --rose-600: rgb(225 29 72);
  --white: rgb(255 255 255);
  --zinc-100: rgb(244 244 245);
  --zinc-200: rgb(228 228 231);
  --zinc-700: rgb(63 63 70);
}

html {
  background-color: var(--zinc-100);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100dvh;
}

body {
  align-items: center;
  background-color: var(--zinc-100);
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

main {
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  max-width: 65ch;
  min-width: 10vw;
  padding: 1.5rem 3rem;
  text-align: center;
}

h1 {
  color: var(--zinc-700);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
  color: var(--zinc-200);
  fill: var(--blue-600);
  height: 2rem;
  margin-right: 0.5rem;
  width: 2rem;
}
